[2019-05-03 07:41] rolivella opened #1 "Add new QC parameter: Retention Time"
Please add a new QC parameter to the Nextflow pipeline.

module_parameter_QC_1000894:
[module_parameter_QC_1000894.zip](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/3140971/module_parameter_QC_1000894.zip)

module_parameter_QC_1000894_qc4l:
[module_parameter_QC_1000894_qc4l.zip](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/3140973/module_parameter_QC_1000894_qc4l.zip)

[2019-05-17 09:27] rolivella opened #9 "Pipeline v7 start and folow-up"

[2019-05-21 09:51] #9 closed, assigned to rolivella

[2019-05-21 10:50] #1 closed, assigned to rolivella, lucacozzuto

[2019-06-11 09:54] rolivella opened #10 "Design how to manage pipeline incedences and report them at QCloud website"
@MarcSerretCRG :
* New colums to file or create other table: input_pipeline_date, output_pipeline_date, pipeline_err_code.
* Modify entry point for the modified JSON

Modified JSON file:
* filename
* creation_date
* checksum
* input_pipeline_date
* output_pipeline_date
* pipeline_err_code

@rolivella
* CV possible processing incidences of the pipeline, related with its cause.

[2019-06-11 09:54] #10 closed, assigned to rolivella

[2019-06-12 13:20] rolivella opened #11 "Design QCloud local installation"
List changes to be done in order the QCloud to be installed in local.

[2019-06-17 14:48] rolivella opened #12 "Community feature implementation"
As we agreed in the design issue:

* For all 3 instrument groups, manually take all histograms since FEB 2019 and decide the best time window (from 3 to 4 weeks min) for each group, maximizing the number of data.

* Modify existing Knime workflows to compute this single AVERAGE:
    ** For each instrument group: startCommFeatDate, endCommFeatDate. Also minPercentile and maxPercentile.
    ** Betwe

[2019-06-21 08:35] rolivella opened #13 "Test windows msconvert dockerize"
Could we test a dockerization of msconvert for windows?

https://github.com/proteomicsunitcrg/qcloud2-pipeline/tree/master/msconvert

Test files at /tmp/toy_dataset/ in nextflow node

[2019-06-28 14:55] #13 closed, assigned to toniher, rolivella

[2019-07-12 10:36] #12 closed, assigned to rolivella

[2019-07-12 10:36] #11 closed, assigned to rolivella

[2019-07-12 10:50] rolivella opened #15 "Update pipeline to v.0.8"

[2019-07-15 07:35] rolivella opened #16 "Test Elixir pipeline"
1) Test Elixir pipeline with any of the raws stored at: Z:\data\orbitrap_lumos1\Raw\1902\IHIH
2) Test if the pipeline is working alone with Trybrid and QE.

[2019-07-16 15:37] rolivella opened #17 "Check Lumos1 files (peak area)"
For LVN:

| Filename        | featureXML           | Skyline raw  | Skyline mzML  |
| ------------- |:-------------:| -----:| -----:|
| 190716_Q_QC01_01_01.raw      | 1.80E9 | 3.16E9 | 7.98E8 |
| 190619_Q_QC01_01_32.raw      | 2.28E9      |   3.23E9 | 8.18E8 |

[2019-07-17 12:52] #17 closed, assigned to rolivella

[2019-07-26 08:12] #15 closed, assigned to rolivella

[2019-09-03 13:16] rolivella opened #18 "Reprocess data for Elixir"
Count files to process:

`find /users/pr/data/orbitrap_velos/Raw/17*/QC2V -name '*.raw' ! -name '*CORRUPTED*' -exec du -s {} \; | sort -n | wc -l`
192

`find /users/pr/data/orbitrap_velos/Raw/17*/QC2V -name '*.raw' ! -name '*CORRUPTED*' -exec du -hs {} \; | sort -n`
From 17M to 1.4G

`find /users/pr/data/orbitrap_velos/Raw/18*/QC2V -name '*.raw' ! -name '*CORRUPTED*' -exec du -s {} \; | sort -n |

[2019-09-04 10:12] #16 closed, assigned to rolivella

[2019-09-04 10:43] rolivella opened #19 "Dynamic fragment mass tolerance to all WF"
Fragment mass tolerance QC01, QC02:

* Knime node switch to autodetect profile or centroided.
* Check with new WF: the results should show an improved #pep and # prot for QC02.
* For test with new QE/nonQE WF, check this error: [f1/78342d] NOTE: Process calc_retTime (6583a564-93dd-4500-a101-b2fe56496b25_QC01_93d2a97b9d0b35c9668663223bdef998-shotgun) terminated for an unknown reason -- Likely it ha

[2019-10-11 15:41] rolivella opened #20 "Elixir QCloud pipeline improvements: add linux conversor and others"
1) Modify input to accept this filename: {sample_type}_{checksum}.raw (so without labsystem_name, here is not needed anymore).

2) Apply this linux conversor to the input .raw filename:

The tool is here: https://github.com/compomics/ThermoRawFileParser
Mono: https://www.mono-project.com/

To be executed with this command line:

mono /path/to/ThermoRawFileParser.exe -i=/path/to/input/raw/file -f=1

[2019-10-11 15:42] #19 closed, assigned to rolivella

[2019-10-16 14:32] rolivella opened #21 "Improve isotopologues extraction with XIC algorithm"
1) Extend bash script (https://github.com/coreforlife/c4lProteomics/blob/master/RawFileReader-XIC-json/runme.bash) to read output json (https://github.com/coreforlife/c4lProteomics/blob/master/RawFileReader-XIC-json/fgcz-xic.cs) and extract all isotopologues intensities.

2) Modify pipeline: replace module_parameter_QC_pepArea.knwf for this new bash script.

[2019-10-24 12:46] rolivella opened #22 "Check PDF report data"
## EMBL Lumos:

Last QC03 sent from EMBL-Lara:

![EMBL_ETCID_Screenshot_20191024_144205](https://user-images.githubusercontent.com/1679820/67486552-8e8cbe00-f66c-11e9-8d9d-39faf9d343a0.png)

Conclusion: data in QCloud adgrees with aggregation in the PDF report.

## FGCZ-QEXACTIVEHFX_1:

| Filename        | #pept. HCD   |
| ------------- |:-------------:|
| 20191018_013_autoQC4L      | 11188 |
| 20

[2019-10-24 14:40] rolivella opened #23 "Lumos VIB included to current pdf report."
labsystem_id = 52 and 53.

[2019-10-24 14:43] rolivella opened #24 "Design: how to implement percentile filter in C4L API"

[2019-10-25 08:30] #23 closed, assigned to rolivella

[2019-10-25 10:58] #24 closed, assigned to rolivella

[2019-11-26 08:39] #22 closed, assigned to rolivella

[2019-11-26 08:40] #20 closed, assigned to rolivella

[2019-11-26 10:35] #21 closed, assigned to rolivella

[2019-11-26 11:45] rolivella opened #25 "Master QCloud2 pipeline upgrade"
* Could we optimize the cluster memory used?
[code]

* Same as EBI but changing:
    * Input files: same as current master pipeline (*.zip files): https://github.com/proteomicsunitcrg/qcloud2-pipeline/tree/master
    * Change /workflows/module_parameter_QC_1001844_qc4l.knwf to:
        * First step: `mono fgcz-xic.exe /path/to/QC03/raw/file.raw xic /path/to/masses.txt 10 /any/path/output.json`. Th

[2019-12-03 14:10] rolivella opened #27 "CF Data Club meeting - Data management minutes"
Background:

* SIT Storage description: http://www.linux.crg.es/index.php/Storage_description
![StorageView2](https://user-images.githubusercontent.com/1679820/70043148-4bedc800-15c0-11ea-8ed6-15ba36a397d4.png)

* Proteomics Unit data:
    * /users/pr/data (instruments data). User: backuppr.
    * /users/pr: analysis. User: proteomics.

* Proteomics Unit servers: Fenn (QCloud1 internal), Tanaka (M

[2019-12-03 14:18] #27 closed, assigned to rolivella

[2019-12-18 10:06] rolivella opened #30 "Change servers subnetwork"
* IP changes:
    * QCloud production:
        * old : 192.168.101.37
        * new : 10.102.1.26
    * QCloud1:
        * old : 192.168.101.112
        * new : 10.102.1.25

For the QCloud production change:
* From inside the subnetwork sysadmins opened the following ports: 8080 and 8181.
* Changed `params.config`, `db_host=10.102.1.26:8080`
* SIT also granted access from nextflow node and Tanaka

[2019-12-20 16:21] #18 closed, assigned to rolivella

[2020-01-14 11:05] rolivella opened #32 "Storage optimization"
Comes from https://github.com/proteomicsunitcrg/qcloud2-bash/issues/7

Current state:

![Screenshot_20200114_120734](https://user-images.githubusercontent.com/1679820/72339449-86ba4400-36c6-11ea-8ef0-ee280a90c83b.png)

-  /qcloud 9.962 TB optimization. Fixed error:
`0 11 * * * find /users/pr/qcloud/qcloud2-pipeline-v-09/work -maxdepth 2 -not -path "/users/pr/qcloud/qcloud2-pipeline-v-09/work" -typ

[2020-01-16 08:27] #30 closed, assigned to rolivella

[2020-01-16 15:10] rolivella opened #33 "Change aquisition date for last modification date?"

[2020-01-16 15:36] rolivella opened #34 "Figures: patent and EPIC-XS's slides"
EPIC-XS slides: https://docs.google.com/presentation/d/1siJrdseQx6MiE5DhephG6xrYjjBnwDsWSAT04lFiVWo/edit?usp=sharing

[2020-01-17 09:43] rolivella opened #36 "Personal workstations speed test"
Download: https://gallery.technet.microsoft.com/DiskSpd-A-Robust-Storage-6ef84e62

[code]
(from x86 folder)

Results:

[speed_test_91.txt](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/4076160/speed_test_91.txt)
[speed_test_cchiva.txt](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/4076162/speed_test_cchiva.txt)

Rodny:
[code]

[2020-02-05 09:56] rolivella opened #40 "Think alternatives to FTP/SFTP"
* https://github.com/facebook/wdt

[2020-02-11 09:37] rolivella opened #41 "Annotations mapping QCloud1->QCloud2"
[code]
Shared annotations for Velos and Lumos 2017 and 2018 in QCloud1:

Op_annotation
LC and/or MS service
Calibration
Column and/or precolumn change
LC and/or MS Troubleshooting
Cleaning
New QC aliquote

[2020-02-11 10:53] #32 closed, assigned to rolivella

[2020-02-12 08:43] #33 closed, assigned to rolivella

[2020-02-13 16:42] rolivella opened #42 "Run current EBI pipeline for toy dataset"
|ID| Filename        | Checksum           | Annotation  |
|------------- | ------------- |:-------------:| -----:|
|1| 180130_Q_QC2F_01_01_100ng      | e8a53e5831b4991d90eebb5e8c239fb0 | None |
|2| 170815_Q_QC2F_01_06_100ng      | 654c5180ce42dab7b9ee2ade6351c2da | None |
|3| 170712_Q_QC2F_01_05_100ng      | 6b7c25657eed1a640dd61ff6de67b049 | None |
|4| 170307_Q_QC2F_01_01_100ng      | 0c966e27777

[2020-02-17 14:29] #41 closed, assigned to rolivella

[2020-03-02 10:45] #34 closed, assigned to rolivella

[2020-03-02 10:45] #36 closed, assigned to rolivella

[2020-03-06 14:43] #40 closed, assigned to rolivella, MarcSerretCRG

[2020-03-06 14:46] rolivella opened #44 "Installation of SFTP to 10.102.1.25"
* Just installed this version: https://www.howtoforge.com/tutorial/how-to-setup-an-sftp-server-on-centos/
* Pending know which external IP we will use.

[2020-03-17 08:28] MarcSerretCRG opened #45 "Install Bulk PRIDE submission [S]"
Install this python script https://gitlab.ebi.ac.uk/walzer/bulk-pride-submission in the cluster.
The installation in my home PC was normal with `pip install .` but in the cluster seems that something related with the python path fails

[2020-03-17 11:36] #45 closed, assigned to rolivella, MarcSerretCRG

[2020-04-20 14:41] #42 closed, assigned to rolivella

[2020-04-21 08:28] rolivella opened #47 "QCloud local version publication"
How to install QCloud server and pipeline intented for Bionformaticians:

## Steps to install QCloud server:
1. Install `mysql-server`
2. Create a user:
[code]
3. Download JAR file: https://www.dropbox.com/s/sf259uwyypjyzwb/QCloud2-1.0.19OUTSIDE.jar
4. Download and edit the sample.yml configuration file: https://www.dropbox.com/s/al25r8kojf7b10z/sample.yml
    4.1. Update with your database inform

[2020-04-27 07:02] #25 closed, assigned to rolivella

[2020-04-27 07:03] #44 closed, assigned to rolivella

[2020-04-27 07:13] rolivella opened #48 "Migation to qcloud2-pipeline-v-1.0beta"
1) Stop all pipelines.
2) Change configuration files:
- nextflow.config: add `queue='pr-el7,short-sl7'`
- params.config: change incoming and server url.
3) Change cron.
4) Reprocess QC03 from 12 am to 12 pm:
- H085039_QC03_f8b588f4-e848-47ee-8ab3-67a33e966485_QC03_34993c8a35c40050bddbdc27fd527607
- E23308_PRCtrap5_u_2p_QC03_0743d589-a015-4b86-8945-0fb693b71f7b_QC03_274f0bcede3ed655b78dd68adf144d8d

[2020-04-30 07:00] #48 closed, assigned to rolivella

[2020-05-21 06:04] #47 closed, assigned to rolivella, MarcSerretCRG

[2020-10-08 07:18] rolivella opened #51 "Check RT outlier"
At Eclipse1, folder /Raw/2010:

| File        | RT QCloud  (min)        | RT XCalibur (min) |
| ------------- |:-------------:| -----:|
| 2020MG010_KRAR_002_20201001_QC01_001_01 | 14.5 | 12.45 |
| 2020MG010_KRAR_002_20201001_QC01_001_02 | 14.8 |  12.44 |

[2020-10-08 07:23] rolivella commented on #51
Amanda check with XCalibur:

![1](https://user-images.githubusercontent.com/1679820/95427427-da04ae80-0947-11eb-96ee-c7d44c67e2ea.png)

![2](https://user-images.githubusercontent.com/1679820/95427449-e38e1680-0947-11eb-8ca4-0ec7b366a894.png)

[2020-10-08 07:42] rolivella commented on #51
Skyline:

![Untitled](https://user-images.githubusercontent.com/1679820/95429390-9eb7af00-094a-11eb-97c9-b84245b2823e.png)

[2020-10-08 07:47] rolivella commented on #51
QCloud2 pipeline:

2020MG010_KRAR_002_20201001_QC01_001_01

[code]

[2020-10-08 07:49] rolivella commented on #51
QCloud2 pipeline:

2020MG010_KRAR_002_20201001_QC01_001_02

[code]

[2020-10-08 08:37] rolivella commented on #51
For both files:

[2020MG010_KRAR_002_20201001_QC01_001_BOTH.tar.gz](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/5346371/2020MG010_KRAR_002_20201001_QC01_001.tar.gz)

Features for LVN with mass 582.3189 for 2020MG010_KRAR_002_20201001_QC01_001_01:

- Found 12 features for this mass with many identifications per feature.
- Feature with higher intensity:

[code]

Features for LVN with

[2020-10-08 08:54] rolivella commented on #51
LVN with mass 582.3189 for 2020MG010_KRAR_002_20201001_QC01_001_01:

<position dim="1">582.318743543138</position>
<intensity>1.29481e+10</intensity>
With lower OMSSA score: RT="739.594905646998"

<position dim="1">582.318397863948</position>
<intensity>2.55001e+08</intensity>
With lower OMSSA score: RT="870.547647838998" >

[2020-10-08 10:48] rolivella commented on #51
Conclusion:

RT algorithm extraction as it is at qcloud2-pipeline works like this:

1) Filter by lower mass acc.
2) Filter by lower OMSSA score.

In some cases this filtering may induce an error, for instance when there're a lot of identified peptides for a single feature.

Solution: migrate RT extraction algorithm to XIC.

[2020-10-08 13:31] rolivella commented on #51
But why the lower mass acc is for the second feature? Because it has mort distance to LVN teoretiocal mass...

[2020-10-08 14:34] rolivella commented on #51
Next step: check known QC02.

[2020-10-09 10:19] rolivella commented on #51
Conclusion: extract RT using XIC algorithm?

[2020-11-20 16:24] fthommen opened #52 "Local installation: Initial password not accepted - How to log in?"
I have installed the QCloud website on a local server as instructed on https://github.com/proteomicsunitcrg/qcloud2-pipeline/tree/local. However on first login the initial credentials (username "zeus@admin.eu"; password "dumbpassword") are not accepted ("Wrong username/password"). How can I log in to our local instance?

[2020-11-20 16:32] fthommen opened #53 "Local installation: MySQL/MariaDB instructions are incomplete"
Hi,

the instructions on https://github.com/proteomicsunitcrg/qcloud2-pipeline/tree/local are missing the point, that the initial database (_database_name_) has to be created _before_ the service is started the first time.  I.e. the instructions at "1. Create a MySQL QCloud user, for instance:" should probably rather read

1. Create a MySQL/MariaDB QCloud user and database, for instance:
[code]
Ma

[2020-11-20 16:39] fthommen opened #54 "Local Installation: Error message "Unable to connect with QCloud2 servers" when browsing from remote host"
Hi,

I have installed a local instance of the QCloud website as instructed on https://github.com/proteomicsunitcrg/qcloud2-pipeline/tree/local.  When I try to access the site from a remote (non-localhost) host, I get the error message "Unable to connect with QCloud2 servers".  How can I configure the site to be remotely accessible?

Is the QCloud website anyhow meant to be installed as a central s

[2020-11-26 14:56] rolivella commented on #52
OK, we are working on it. It seems that is somehow related with the password encoding within the database and the OS. I let you know when fixed (by tomorrow or beginning of the next week).

[2020-11-26 14:59] rolivella commented on #53
Yep, you are right, thank you for letting me know. Regarding MariaDB, we only put the prerequisites that we had tested previously. Let me know if everything works properly with MariaDB and we'll add it.

[2020-11-26 15:08] rolivella commented on #54
It should work without any issue within your network. Did you checked that the port 8089 is opened and acessible across your network? If it's already opened, could you send me any related error message from your browser developing console? Regarding the second question, the QCloud2 website is not designed as a central service integrated into an Active Directory/LDAP setup.

[2020-11-26 18:03] fthommen commented on #54
There are no firewall or other port restrictions on the hosting VM.  The site takes awfully long to load (see attached screenshot), mainly because of some pictures, of which only one is visibly displayed on the page:
![qcloud_credentials_and_delays](https://user-images.githubusercontent.com/279232/100379913-0d91ba00-3016-11eb-8def-1d229f5205fd.png)

Note, that outgoing connections go through our c

[2020-11-26 18:35] fthommen commented on #54
The speed issue has been resolved by updating the VM to the newest CentOS-Release (was 7.4, is now 7.9) with all associated package updates.  The page now builds up instantly.  However the "Unable to connect with QCloud2 servers" hasn't gone

[2020-11-26 18:50] fthommen commented on #52
I have set the password manually in the database, but that doesn't seem to help

[2020-11-27 08:20] rolivella commented on #54
OK thanks for this detailed information. Is the first time that an external user installs the QLV so thanks for your patience. We let you know ASAP.

[2020-11-27 08:21] rolivella commented on #52
No, it cannot be set manually. Please wait until we fix the problem. Thanks!

[2020-11-27 08:38] rolivella commented on #53
Changes made. Thanks for reporting.

[2020-11-27 08:38] #53 closed

[2020-11-27 10:51] rolivella commented on #52
@fthommen could you please download this file and try again? Inside the ZIP you'll find a new JAR and YML.

https://www.dropbox.com/s/gjt7e416dd5bdlu/qlv-last-update.zip?dl=0

[2020-11-27 10:57] rolivella commented on #54
We think that those errors in reallity are warnings so they should be not the main reason for the "Unable to connect with QCloud2 servers". Besides, it seems that's a Firefox bug:

https://stackoverflow.com/questions/48414969/how-to-use-source-maps-with-basic-authentication

We still think that there's something in your network blocking the access. To clarify, when you said:

`Note, that outgoing

[2020-11-27 13:03] fthommen commented on #54
This report is over 2 year old and related to FF 57. I am using newer versions everywhere.  Also the bug applies to basic authentication, which you are not using as far as I can see.

only external traffic is proxied.  Internal traffic is unproxied. But your service might be trying external https connections w/o respecting the proxy settings?  I am specially confused about the plural form in "Unab

[2020-11-27 14:21] rolivella commented on #54
OK, so to avoid spreading our discussion let's try to focus on the VM first. We'll later try solve the network issue. Please, replace the JAR and YML as mentioned in https://github.com/proteomicsunitcrg/qcloud2-pipeline/issues/52#issuecomment-734774093 an let us know.

[2020-11-30 16:47] fthommen commented on #52
I have multiple issues with this version and looooong outputs.  Not directly related to the password issue.  Should I continued here or open a new issue?

[2020-12-01 09:27] rolivella commented on #52
Before moving on, I undesrtand for your message that the JAR and YML files I posted are working well and your are now able to login?

[2020-12-01 11:19] fthommen commented on #52
Aehm no.  sorry for being unlear.  I can't start the service at all.

[2020-12-01 12:04] rolivella commented on #52
Any error trace, log, etc. you can copy here?

[2020-12-01 13:23] fthommen commented on #52
started with freshly created database:

[code]

When the configuration file name doesn't end on `.yml` by e.g. using `sample.yml_new`, startup fails differently:
[code]
Here the service startup hangs "forever".
HTH

[2020-12-01 14:10] rolivella commented on #52
@MarcSerretCRG could take care of this log message. Thank you.

[2020-12-01 15:08] MarcSerretCRG commented on #52
Hi, @fthommen

QCloud2 doesn't starts because I forgot one line in the config file... this is the updated version [sample.zip](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/5623429/sample.zip).Sorry
And the program needs a yml file to start.

[2020-12-01 20:09] fthommen commented on #52
The service now starts but I still get the "wrong username" error message. The table `database_name.user` is completely empty.  The full startup trace can be found [here](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/5625164/qcloud_startup_trace.txt).

Btw there is a typo in the error message.  It says 'wrong userame/password" (missing "n" in "username").

That's ok, but the type of

[2020-12-01 22:24] MarcSerretCRG commented on #52
You have to create a new account at the sign in page. By default the first account will be admin. This is the new method.
YML files are very accessible and for us the best way to implement config files in Spring Boot apps.

Let us know if it works please.

[2020-12-02 11:13] fthommen commented on #52
Hello @MarcSerretCRG, I am following the installation instructions on https://github.com/proteomicsunitcrg/qcloud2-pipeline/tree/local.  Could you update the instructions, which I then will use to set up the system?

[2020-12-02 11:27] fthommen commented on #52
Maybe I misunderstood. I tried with an account "admin" to no avail.  Now I have registered myself and I can log in. I am now administrator?

[2020-12-02 11:28] fthommen commented on #54
New JAR as in #52 is working, but accessing the site from non-localhost still gives the "Unable to connect with QCloud2 servers" error message

[2020-12-02 11:29] MarcSerretCRG commented on #52
Yes, the first user is admin. You should be able to see Intranet and administration sections as admin.

[2020-12-02 11:39] fthommen commented on #52
Yep, I can see that.  Thanks.  So this issue seems to be solved.  Just the documentation update is missing.  Thanks

[2020-12-02 11:39] #52 closed

[2020-12-02 11:53] fthommen opened #55 "Local Installation: HTTPS Support?"
Hi, is there a way to configure the local QCloud server for HTTPS or do we need to achieve this with our own reverse proxy?

[2020-12-04 10:16] rolivella commented on #54
@fthommen could you please try this new JAR?

https://www.dropbox.com/s/31blym18464jmso/QCloud2-1.0.22.7.2OUTSIDE.zip?dl=0

Modifications:
- Removed Google Font dependency.
- Changed notification email when a new labystem is added. Now send the notification to the admin.

We didn't removed the CDN dependencies for the logos. They can be administered by following this link:

https://qcloud2.crg.eu/

[2020-12-04 10:17] rolivella commented on #55
I'm not sure, @MarcSerretCRG could you answer this question?

[2020-12-04 13:58] fthommen commented on #54
Start fails with following trace
[code]

Please note that I am now starting the application in a slightly different environment.  Namely it is now run under an unprivileged user account

[2020-12-04 14:03] fthommen commented on #54
Same under a privileged account.

[2020-12-04 15:03] rolivella commented on #54
@MarcSerretCRG please take a look at this log message. Thanks.

[2020-12-07 09:15] rolivella commented on #54
@fthommen this was my fault, I missed the new YML file:

[sample.zip](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/5651684/sample.zip)

And modify:

[code]

[2020-12-07 09:16] MarcSerretCRG commented on #55
Hi, you have to modify your server to achieve this (with apache, nginx, etc).

[2020-12-07 09:34] fthommen commented on #55
ok, I will set up a proxy then.  Thanks

[2020-12-07 09:34] #55 closed

[2020-12-08 14:53] fthommen commented on #54
Thanks.  With this addition it's working.  What is the difference between `address` and `admin-email`?

[2020-12-08 15:01] fthommen opened #56 "Local Installation: No country selection per keyboard in the registration form"
Hi,

in the registration form of QCloud local 1.0.22.7.2, the country cannot be selected by typing its name
![qcloud_country_selection](https://user-images.githubusercontent.com/279232/101500315-98f04100-396e-11eb-876a-6724a1990828.png)
IIRC, this has been possible in earlier versions

[2020-12-08 15:08] fthommen commented on #54
...but I get the error message
![qcloud_registration_error](https://user-images.githubusercontent.com/279232/101501084-95a98500-396f-11eb-93ee-59e4d15ab2cb.png)
when I try to register

[2020-12-08 15:30] fthommen opened #57 "Local Installation: Confusing texts in buttons and menues"
Hi, in QCloud 1.0.22.7.2 (local installation) I see this text in the registration "send" button:
![qcloud_registration_send](https://user-images.githubusercontent.com/279232/101503594-8bd55100-3972-11eb-8293-a2d4295d91f4.png)

and these items in the QCloud menu
![qcloud_menu_items](https://user-images.githubusercontent.com/279232/101503616-909a0500-3972-11eb-8cbf-98a6dabb8d53.png)

Which rather lo

[2020-12-09 08:25] MarcSerretCRG commented on #54
Hi,
If the mail of the first sign in is the same as the admin-mail then the user will be administrator. Also the backend sends an email to the admin-mail when a users registers.
I tested RN the sign in and everything worked fine... can you provide the log please?
About the proxy pass we use apache and works fine, with nginx should work too.

[2020-12-09 09:03] rolivella commented on #56
Thanks for the suggestion, we'll try to include this feature in future releases.

[2020-12-09 09:03] #56 closed

[2020-12-09 09:04] rolivella commented on #57
@MarcSerretCRG could you have a look at this? Thanks.

[2020-12-09 11:02] fthommen commented on #54
By "log" you mean the call trace from stdout?

[2020-12-09 11:06] MarcSerretCRG commented on #57
Hi, now the icons are loaded locally, are you blocking the assets?

[2020-12-09 11:07] MarcSerretCRG commented on #54
Yes

[2020-12-10 20:01] fthommen commented on #57
It's a fresh browser profile, no blocking (other what Firefox does by default), no plugins

[2020-12-10 20:13] fthommen commented on #54
### Connecting from "external" browser

There are these lines when opening the page from an external browser (through https://server which uses the NGINX proxy):

[code]

No more messages after that on the server side.  Just the reported message in the browser

### Connecting from local browser

I see these lines when first opening the page (http;//localhost:8089)

[code]

Then after having filled

[2020-12-11 10:45] rolivella commented on #57
@fthommen, @MarcSerretCRG  is out of the office till next thursday. He told me that's not able to reproduce you error. He removed all the CDNs dependencies so now every image should be uploaded locally.Maybe if you paste an screenshot like this we'll figure out what's happening:

![screenshot](https://user-images.githubusercontent.com/1679820/101894329-50bb6380-3ba6-11eb-9a62-07a16ec41ce7.png)

[2020-12-11 10:45] rolivella commented on #54
@MarcSerretCRG when you come back to the office please take a look at this log.

[2020-12-11 13:51] fthommen commented on #57
That's what I can offer :-).  The pop-up with the object information doesn't show in my firefox (developer edition 84.0b). Maybe an additional add-on is required?

![qcloud_web_inspector](https://user-images.githubusercontent.com/279232/101910948-f929f180-3bbf-11eb-960a-ad1c63790e0a.png)

[2020-12-15 08:36] MarcSerretCRG commented on #54
Hi,
This error happens because something is wrong with your mail configuration. The user is created at the database but the backend is unable to send the welcome mail (because the backend is uable to connect to your mail host).
When you try to use an external browser and the log in fails did you get any message?

[2020-12-16 20:09] fthommen commented on #54
Which is strange, as it is exactly the same mailrelay and port as it is configured for the local mail system (Postfix) which works w/o issues. What exactly is the Spring framework trying to do? Could it be an issue of sender domain not being accepted?

no

[2020-12-16 20:39] fthommen commented on #54
Instead of using our mailrelay directly I have now configured the local mailsystem (`localhost:25`) in QCloud2. There are no more errors when registering with a local(!) browser and a registration confirmation is sent out.  This will only work for email addresses within our maildomain, as we cannot send out external mails with this setup (this is standard setup on our servers). I still think this

[2021-01-07 10:35] fthommen commented on #54
Hi, are there any news regarding this issue?

[2021-01-12 11:26] MarcSerretCRG commented on #54
Hi, we were out of the office enjoying the holidays. That's strange, we are using a server to connect and is working fine... I also tested  with a VM in my local network without any problem...
Happy new year.

[2021-01-15 20:33] fthommen commented on #54
To test it I have installed Qcloud2 on an externally hosted VM, fully internet exposed, no VPN, no firewall.  But I am still getting the error "Unable to connect with QCloud2 servers" when I try to log in.

Please let me know under which circumstances this error is printed.

[2021-01-18 08:30] MarcSerretCRG commented on #54
This message is printed by default if something went wrong (normally this error only appears if the frontend cannot connect with the backend).
[code]

[2021-01-18 08:45] rolivella commented on #54
@MarcSerretCRG I think that it would be very usefull if we can print which particular error it is and the server URL, I mean, for instance:

"Unable to connect with QCloud server (http://blabla:8081 with satus code: 403 Forbidden)"

What do you think? At least for this QLV release.

[2021-01-18 10:25] rolivella commented on #54
@fthommen , appart for sending us the console error, **could you send us also the URL where your QCloud front-end is**? We'll try to compile the JAR with this URL and see if it works.

[2021-01-18 12:08] fthommen commented on #54
I sent you the URL off-issue.

[2021-01-18 12:10] MarcSerretCRG commented on #54
Received, give me 10 min

[2021-01-18 12:15] fthommen commented on #54
I give you 20.  I'll have lunch now :-))

[2021-01-18 13:00] MarcSerretCRG commented on #54
I send you a new jar via mail

[2021-01-18 15:42] fthommen commented on #54
Yippie. Connecting works with 1.0.22.8DEMO :-)

[2021-01-21 16:53] fthommen commented on #54
Are there any news regarding the remote access?

[2021-01-22 08:01] MarcSerretCRG commented on #54
The remote access is working with 1.0.22.8DEMO no?

[2021-01-22 08:17] rolivella commented on #54
@fthommen you mean you have to install the QCloud website in production? In that case, just send us the new URL and we'll recompile de JAR again.

[2021-02-08 08:42] rolivella commented on #54
@fthommen could we close this issue? Thanks.

[2021-02-08 08:46] rolivella commented on #57
@fthommen could we close this issue? Thanks.

[2021-02-08 08:48] rolivella opened #58 "Check very high numbers of identifications in FGCZ QEHF data"
First check:

| File | #prots qcmass, w fmt=0.02 | #pept qcmass, w fmt=0.02 | #prots qcloud2 | #pept qcloud2 |
| --------------- | --------------- | --------------- |--------------- | --------------- |
| 190215_Q_QC03_01_04_25ng.raw.SP_Human | 1604| 4851| 1383| 3683|
| 20190222_013_autoQC4L.raw.SP_Human | 5129| 19293|  4063| 13153|

[2021-02-12 12:47] rolivella commented on #58
Send mail to Paolo.

[2021-02-13 20:57] fthommen commented on #57
The situation hasn't changed and the confusing texts are still here

[2021-02-13 20:58] fthommen commented on #54
The latest customized JAR now works.  Thank you

[2021-02-13 20:58] #54 closed

[2021-02-15 10:29] MarcSerretCRG commented on #57
Can you provide a screenshot showing the network requests please?

[2021-02-20 14:21] fthommen commented on #57
I will send you the screenshot by personal mail

[2021-02-22 08:31] rolivella commented on #57
We didn't received the screenshot...

[2021-02-22 16:27] fthommen commented on #57
Resent to Marc from my office address. First mail had been from "Sat, 20 Feb 2021 15:23:14". Let me know (to my office address) if it arrived this time

[2021-03-10 16:51] rolivella commented on #57
(@MarcSerretCRG could you please take care of it? Thanks!)

Message from @fthommen:

it seems that QCloud2 does indeed use websockets.  I tried to configure
the proxy accordingly and tried with /api and /api/gs-guide-websocket as
locations in the websocket URL.  None of these seems to work and the UI
also always reports "API status: DOWN".

However I am not sure if the access denial for the fonts

[2021-03-11 08:44] MarcSerretCRG commented on #57
The message at intranet "API status: DOWN" talks about the QCloud2 public api, not the backend. The next local version jar will have removed this message.
About the websocket i dont know. I just use Apache to reverse proxy the jar embeded tomcat server.

[2021-03-17 22:33] fthommen commented on #57
The issue with the icons has been solved by the newest jar file release.  Thanks a lot

[2021-03-17 22:33] #57 closed

[2021-04-09 13:45] #58 closed

[2021-04-13 08:35] rolivella opened #59 "Remove dependencies on webserver and msconvert part"
I think that by only removing webserver and msconvert folders is enough.

[2021-04-20 09:41] nara3m opened #60 "Change Qcloud2 local server address from localhost to particular server name"
Hey @rolivella

Thanks for developing local version of qCloud2. As you rightly predicted, localhost is not possible because the server is remote. where can I change server name ?

Cheers!

[2021-04-20 09:44] rolivella commented on #60
OK @nara3m . Please @MarcSerretCRG , could you help Nara with this by private mail? Thanks.

[2021-04-26 09:18] rolivella commented on #60
Fixed.

[2021-04-26 09:18] #60 closed

[2021-04-26 09:20] MarcSerretCRG opened #61 "[QLV] Problem with Java 9"
Try to launch the app with the following argument: `java -jar –illegal-access=permit macTest.jar`

And disable JMX https://stackoverflow.com/questions/42612226/how-to-solve-configuration-class-error-while-deploying-spring-boot-app-on-google

[2021-07-01 09:18] #61 closed

[2021-07-01 09:18] #59 closed

[2021-07-01 09:20] rolivella opened #62 "QCloud 1 file concept"
QCloud x file: 1 file proof of concept.

[2021-07-08 08:11] rolivella opened #63 "C4L TSV report"
[code]

[2021-07-08 10:04] rolivella commented on #62
Original file:
[6583a564-93dd-4500-a101-b2fe56496b25_QC01_93d2a97b9d0b35c9668663223bdef998_qcml_tic.txt](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/6783503/6583a564-93dd-4500-a101-b2fe56496b25_QC01_93d2a97b9d0b35c9668663223bdef998_qcml_tic.txt)

Charts:
[6583a564-93dd-4500-a101-b2fe56496b25_QC01_93d2a97b9d0b35c9668663223bdef998_tic_all.xlsx](https://github.com/proteomicsunitcrg/qc

[2021-07-12 10:02] rolivella commented on #62
Re-do: sample every X (5, 10, 20, 30) seconds. Test webGL for 100/1000/5000 points.

[2021-07-15 13:27] rolivella commented on #62
[code]

[2021-07-15 13:29] rolivella commented on #62
[6583a564-93dd-4500-a101-b2fe56496b25_QC01_93d2a97b9d0b35c9668663223bdef998_tic_all_5_recalc.xlsx](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/6823388/6583a564-93dd-4500-a101-b2fe56496b25_QC01_93d2a97b9d0b35c9668663223bdef998_tic_all_5_recalc.xlsx)

[sampled_tic_rate_5.txt](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/6823389/sampled_tic_rate_5.txt)

[2021-07-19 14:44] #63 closed

[2021-07-20 13:27] rolivella opened #64 "MPI C4L - some files are not inserted"
[2021-07-19 11:32:25] Uploading file blank_QC03_210717155026.raw...skipped
[2021-07-19 11:26:24] Uploading file blank_QC03_210715235536.raw...skipped

![Sin título](https://user-images.githubusercontent.com/1679820/126332086-e2352f41-3157-4ac9-ab60-e38fe15fd90a.png)

[code]

[2021-07-20 14:56] rolivella commented on #64
Inserted in wrong chronological order!

[2021-07-20 14:56] #64 closed

[2021-07-21 07:16] rolivella opened #65 "FGCZ Exploris QC01 peptides not resolved"
![qexactive_codes](https://user-images.githubusercontent.com/1679820/126447469-f6ed6b39-4a18-4348-8e8e-e8a0edeb1165.png)
![Sin título](https://user-images.githubusercontent.com/1679820/126447471-a378622f-f0f7-4146-a99a-a50acaea58b5.png)

20200512_05_autoQC01
20200512_04_autoQC01
20200507_007_autoQC01
20200507_003_autoQC01
20200507_03_autoQC01
20200507_02_autoQC01
20200507_01_autoQC01

[2021-07-21 07:17] rolivella commented on #65
`qcloud@nextflow:/users/pr/qcloud/qcloud2-pipeline-v-1.0beta/work/40/7eff6a268618ae5a28b7e14e560353$ less 5a975002-8db4-4789-b832-c09ec4ad76af_QC01_cfe466f704ab8aed90b1b46401afb310.idXML`

----------> peak_mass_tolerance="0.5"

[2021-07-21 09:09] rolivella commented on #65
[code]

[2021-07-21 13:43] rolivella commented on #65
Error in acquisition methods from their side.

[2021-07-21 13:43] #65 closed

[2021-07-21 15:00] rolivella opened #66 "Zip interruption error at ftp2nf.sh causes a critical change at the queue file order"
less /users/pr/rolivella/mybackups/ftp2nf/ftp2nf.log

[INFO] *********************************** START MANAGING FILE blank_QC03_210717155026_7d1adc32-1a73-4ced-ad59-bdf55f89ba84_QC03_d5e6706b251bd79a1453488162adbe3e.raw...
[INFO] CHECKSUM COMPARISION...
[INFO] Received file blank_QC03_210717155026_7d1adc32-1a73-4ced-ad59-bdf55f89ba84_QC03_d5e6706b251bd79a1453488162adbe3e.raw checksum is OK so it's

[2021-07-22 09:22] rolivella commented on #62
* TIC like an histogram an resize bins using neonstats. Problem: where we store base data? Best fitting curve discarded.
* Sampel QC01 every 1 sec (1500 rows), 2 sec (750), 3 sec (500).

[2021-07-23 10:44] rolivella commented on #62
* test TIC with different histogram bins (bad and good qc01).

[2021-07-27 09:44] rolivella commented on #66
The point is that the script is not designed to process to many large files that we receive at almost the same time. When that happens, this timeout kills the process and the unzip gets interrupted:

`*/5 * * * * timeout 240 /users/pr/qcloud/bash/ftp2nf.sh 'QcCrG!18' 'v1@b007M9369dcS' >> /users/pr/qcloud/logs/ftp2nf.log 2>&1`

[2021-07-27 09:45] #66 closed

[2021-07-27 13:54] rolivella commented on #62
Another final solution: just simply plot the TIC as we are doing at QSample with the dendogram.

[2021-07-27 14:00] #62 closed

[2021-07-28 09:07] rolivella opened #67 "QCloudML (Premium) - Machine learning and other implementations"
* LVN peptide area regression, intersection with lower threshold boundary and failure prediction.
* ML: suggest action before failure.

[2021-07-28 10:15] rolivella opened #68 "MPI files not appearing at PDF report"
19-25 July 2021:
![19-25-july](https://user-images.githubusercontent.com/1679820/127305791-a32e205a-be4a-49aa-99c1-96f8e72ec901.png)

Reason:
![files](https://user-images.githubusercontent.com/1679820/127305837-ba362672-bbe4-4bcf-80b4-1dff3de8411d.png)

Files acquired on 19/07 but uploaded at 20/07.

[2021-07-29 07:10] #68 closed

[2021-07-30 10:32] rolivella commented on #68
* Send mail to Teresa.

[2021-08-26 14:09] rolivella opened #69 "RT Drift systematic error in Eclipse1"
![deviationRT](https://user-images.githubusercontent.com/1679820/130977855-d69e9fe3-ff3b-4ddd-9749-48c60eec0238.png)

[2021-08-26 14:27] #69 closed, assigned to rolivella

[2021-11-02 11:24] rolivella opened #70 "Bruker timsTOF tests"
* FeatureFinderMultiplexer not working: unknown error.
* FeatureFinderCentroided:

Created new pipeline version 1.1.

https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/TOPP_FeatureFinderCentroided.html

-algorithm:mass_trace:mz_tolerance 0.02
-algorithm:isotopic_pattern:mz_tolerance 0.04
-algorithm:intensity:bins 10

[code]
Working but know peptide are

[2021-11-02 11:25] rolivella commented on #70
![Screenshot from 2021-10-29 12-44-24](https://user-images.githubusercontent.com/1679820/139421861-ec87d98b-c366-44e3-8ae8-f25716e63d83.png)

[2021-11-02 13:15] rolivella commented on #70
It seems that the files they send us are not QC HeLa because the monitored peptides are very low:

![Screenshot from 2021-11-02 14-07-25](https://user-images.githubusercontent.com/1679820/139853441-3afafbe2-b389-4082-b154-4589a0def972.png)

[2021-11-02 13:21] rolivella commented on #70
With the new parameters I obtained more or less the same:

  * max_rt_span = 4
  * min_score = 0.7
  * min_isotop_fir = 0.7

![Screenshot from 2021-11-02 14-19-56](https://user-images.githubusercontent.com/1679820/139854760-df6aa9f3-d3f0-4d2e-861e-181adb9243b7.png)

[2021-11-04 09:32] rolivella commented on #70
For peptide LAVDEEENADNNTK (one of the QC02 peptides):

featureXML:

[code]

[2021-11-04 15:02] rolivella commented on #70
[code]

[2021-11-05 08:22] rolivella commented on #70
[code]

[code]

[2021-11-05 08:46] rolivella commented on #70
[code]

[code]

[2021-11-05 08:59] rolivella commented on #70
New tool to convert Bruker data to mzML "properly":

https://github.com/mafreitas/tdf2mzml

[2021-11-05 09:35] rolivella commented on #70
Steps to add timsTOF support to QCloud:

* Modify the QCrawler to be able to process and send timsTOF files.
* Modify Nextflow pipeline to process timsTOF files:
    * Change thermorawfileparser for https://github.com/mafreitas/tdf2mzml?
    * Create new branch to use FFC instead of FFM.
    * Create new CSV.
    * Other hidden changes (sendToDB process not working for an outofbound index).
* QClo

[2021-11-05 13:21] edunivers commented on #70
https://github.com/HUPO-PSI/psi-ms-CV/issues/77

[2021-11-18 20:26] #67 closed

[2021-11-18 20:26] #70 closed

[2021-11-18 20:46] rolivella opened #71 "Bruker timsTOF implementation"
* The current QCloud implementation is: Knime 3.4.3 with OpenMs 2.3.
* It can be only installed with OpenMS 2.1:

![openms24](https://user-images.githubusercontent.com/1679820/142494140-5a4ef9e8-a770-4226-b86b-b1e714f7ead6.png)
![openms21](https://user-images.githubusercontent.com/1679820/142494144-869744c7-8e48-4db8-a2ae-b2b4839698f6.png)

* Incongruency errors, probably due to at the container K

[2021-12-13 15:28] #71 closed

[2021-12-23 13:27] #51 closed

[2022-01-18 13:39] rolivella opened #73 "RT QC03 using XIC instead of features"
* Observed by Paolo from FGCZ: QExactives without RT.
* Cause: RT is tabulated at `knime_peptides_qc4l.csv` with a RTref for each monitored peptide. This was done for our instruments but it's not extrapolable to the rest.
* Solution: use same XIC algorithm used in QC03 for extracting the isotopologues intensity.
* Implementation: https://github.com/proteomicsunitcrg/qcloud2-pipeline/blob/qc03_rt_n

[2022-01-21 11:00] rolivella commented on #73
Preliminar result:

[code]

[2022-01-25 09:39] rolivella commented on #73
Luca, "currently out of the office with limited access to email. I will try to respond to you as soon as possible."

[2022-01-25 15:04] rolivella commented on #73
Hola Roger,

estoy en vacaciones (en realidad gastando la que quedan para "tener los
peques" fuera del caos covid en el cole. Vuelvo el 27

Luca

[2022-01-28 08:52] rolivella commented on #73
Finally, first production results:

[code]

[2022-01-28 09:19] rolivella commented on #73
Check with Skyline:

* YV(Heavy)YV(Heavy)ADV(Heavy)A(Heavy)A(Heavy)K(Heavy): 1956 (QCloud 1953).
* V(Heavy)V(Heavy)GGL(Heavy)V(Heavy)ALR(Heavy): 2454 (QCloud 2454).

[2022-01-28 09:23] rolivella commented on #73
Checking other QC01, QC02, and QC03...

[2022-02-01 20:01] xLinkKnight opened #74 "Local Installation Error"
Attempting to install QCloud2 on a system running CentOS7. I've installed the prerequisite packages, MySQL, Java, Nextflow, Docker, and the Singularity container.

I've attached the output for when we attempt to run the ```QCloud2-1.0.23LOCAL``` jar file with the edited .yml file. I'm not familiar with the readout, so I can't diagnose what the issue(s). It seems related to login access issue, due

[2022-02-03 18:40] xLinkKnight commented on #74
Further information. I believe we had incorrectly created the MySQL database. We rectified the issue and came across a different error when attempting to start the server. The log file is attached.

[ErrorLog.txt](https://github.com/proteomicsunitcrg/qcloud2-pipeline/files/7997237/ErrorLog.txt)

We see the ```Public Key Retrieval is not allowed``` error message. We thought the ```useSSL=false``` s

[2022-02-03 19:08] xLinkKnight commented on #74
I added ```allowPublicKeyRetrieval=true``` to the url and was able to get further into the website installation.

We now run into an error pointing to:

```Caused by: java.lang.IllegalArgumentException: Could not resolve placeholder 'qcloud.threshold.min-points-guideset' in value "${qcloud.threshold.min-points-guideset}"```

Log attached: [ErrorLog2.txt](https://github.com/proteomicsunitcrg/qcloud

[2022-02-03 20:45] xLinkKnight commented on #74
We were able to access the QCloud website at http://localhost:8089 once we added ```min-points-guideset: 3``` to the ```qcloud``` block of the .yml config file.

But we are unable to log in using our credentials (username and password in .yml file). The page will say "Connecting..." for a while and then respond with "Unable to connect with QCloud2 servers".

We're not sure how to proceed and troub

[2022-02-07 08:52] rolivella commented on #73
It seems that is not working for some instruments. For instance:

| Sample file| Instrument           | Node  | Resolving RT? |
| ------------- |:-------------:| -----:| ------:|
| E28306_2p_QC03_50uPAC14_trap16	    | Q Exactive 2 | VIB | Yes |
| F005648c_2p_QC03_110uPACG2v2_2_trapPM3_newTrap	    | Orbitrap Fusion Lumos 2 | VIB | Yes |
| E28281_1p_QC03_50uPAC13_trap9	    | Q Exactive 1 | VIB | Yes

[2022-02-08 11:05] rolivella commented on #73
It shoulb that that the guideset for qc4l is not defined for the instruments without RTQC03 but...:

![Screenshot from 2022-02-08 11-58-40](https://user-images.githubusercontent.com/1679820/152974823-f9f00d7e-5c12-4bdf-80ea-dcf4b81e0565.png)

[2022-02-08 13:38] rolivella commented on #73
Got it! The guideset should be recomputed during a period with data! If there's no RT Drift during the guideset window the final "RT Drift" cannot be computed.

[2022-02-08 13:41] #73 closed

[2022-02-08 16:21] rolivella commented on #74
@xLinkKnight let me have a look at that and I let you know ASAP.

[2022-02-08 16:24] xLinkKnight commented on #74
Just one last update. We were able to use the beta java version (QCloud2-1.0.22.7.2OUTSIDE) and get access to the website. The issue with that route was that many of the website functions seemed broken or inaccessible.

[2022-02-08 16:33] rolivella commented on #74
Could double check this step?

[2022-02-21 13:54] rolivella commented on #74
@xLinkKnight any news about your installation? Otherwise I'll close this issue. Thanks.

[2022-02-23 13:29] #74 closed